#dropdown-container {
  display: flex;
  height: cover;
  justify-content: space-between;
  width: 40%;
  flex-direction: column;
  margin: auto;
}

.container{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    color: blue;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.placeholder-container {
  display: flex;
  align-items: center;
  color: white;
  margin: auto;
  background-color: rgb(19, 66, 255);
  cursor: pointer;
  width: 100%;
}

.placeholder-container:hover {
  background-color: blue;
  color: white;
}

#arrow {
  margin-top: 10px;
  height: 30px;
  margin: auto;
  display: flex;
  border: 2px solid black;
  padding: 5px;
  background-color: yellow;
  border-radius: 30px;
  cursor: pointer;
}

#arrow:hover {
  background-color: white;
}

.nft-icon {
  height: 50px;
  border: 2px solid black;
  margin: 0;
}

.nft-project {
  display: none;
  border: 2px solid black;
}

#project-container {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  border-radius: 25px;
  background-color: blue;
  border: 2px solid black;
}

.label {
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.2px;
  cursor: pointer;
}

#dropdown-list {
  width: 100%;
  height: 300px;
  margin: auto;
  display: none;
  flex-direction: column;
  overflow-y: scroll;

  border-radius: 0px;
}

#dropdown-list-container {
  width: 39%;
  height: 300px;
  margin: auto;
  margin-top: 60px;
  display: none;
  position: absolute;
  z-index: 3;
  border-radius: 25px;
  border: 2px solid black;
  overflow-y: hidden;
  box-shadow: 4px 4px 5px black;
}

.initial-container {
  display: flex;
  align-items: center;
  margin: auto;
  cursor: pointer;
  width: 100%;
}

h4 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 15px;
}

#current-market-data {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 80%;
  border-radius: 25px;
  margin-top: 80px;
  box-shadow: 0px 5px 5px black;
}

table{
    border: 2px solid black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    background-color: blue;
    border-radius: 15px;
}

thead, tbody, td, th{
    padding: 5px;
}

#set-notify{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    border: 2px solid black;
    height: 50px;
    padding: 15px;
    width: 70%;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 5px 5px black;
    background-color: blue;
}

#rangeNotify{
    width: 30%;
    color: white;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    cursor: pointer;
    letter-spacing: 1.25px;
    background-color: rgb(34, 173, 238);
    box-shadow: 0px 5px 5px black;
}

#rangeNotify:hover{
    background-color: white;
    color: rgb(34, 173, 238);
}

#add{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    box-shadow: 0px 5px 5px black;
}

#add:hover{
    background-color: white;
    color: green;
}

#price{
    background-color: rgb(209, 209, 209);
    color: black;
    font-size: 16px;
    border: none;
    width: 30%;
    font-weight: 500;
    box-shadow: 0px 5px 5px black;
}

.remove-button{
    font-size: 18px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 4px 5px black;
    color: black;
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.remove-button:hover{
    background-color: white;
    color: black;
    box-shadow: 1px 2px 2.5px black;
}